body{
    font-family: Verdana, Geneva, sans-serif;
      font-size: 14px;
      background: rgb(233, 232, 232);
	  max-width: 100%;
	  overflow-x: hidden;
  }
  
  
/*navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(233, 232, 232);
  }
  
  li a{
    float: left;
	margin-left: 10px;
  }
 
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li img{
    margin-top:3px;
    margin-right: 5px;
    width: 50px;
    height: 40px;
    border-radius: 50%;
    float: right;
  }
    li a:hover {
    background-color: rgb(248, 247, 247);
  }
  






 



  /*footer */
  .footer-distributed{
	background:rgb(233, 232, 232);
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 14px sans-serif;
	padding: 5px 50px;
    margin-top: 30px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */
.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */
.footer-distributed h3{
	color:  black;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}
.footer-distributed h3 span{
	color:  lightseagreen;
}

/* Footer links */
.footer-distributed .footer-links{
	color:  black;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
    font-weight:400;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-company-name{
	color:  #222;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */
.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: black;
 	 font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  lightseagreen;
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */
.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  lightseagreen;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  lightseagreen;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}




/* partie card */
.recent-work {
	display: flex;
	padding: 30px;
	margin-top: 10px;
	margin-right: 20px;
	margin-left: 20px;
	background-color: rgb(255, 255, 255);
  }
  
  .recent-work .pic {
	flex-shrink: 0;
	flex-basis: 40%
  }
  

  .pic1  {
	display: block;
	width: 100%;
	height: 58%;
	background-image: url('../HTML project/hotel3.png');
	object-fit: cover;
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat	;
  }
  .pic1:hover  {
	animation-name: example;
	animation-duration: 5s;
  }
  @keyframes example {
	0%   {background-image: url('mar1.jfif');}
	100% {background-image: url('mar2.jfif');}
  }

 

  .pic2  {
	display: block;
	width: 100%;
	height: 58%;
	background-image: url('../HTML project/hotel2.jpg');
	object-fit: cover;
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat	;
  }
  .pic2:hover  {
	animation-name: example2;
	animation-duration: 5s;
  }
  @keyframes example2 {
	0%   {background-image: url('mah1.jfif');}
	100% {background-image: url('mah2.jfif');}
  }
  .pic3  {
	display: block;
	width: 100%;
	height: 58%;
	background-image: url('../HTML project/hotel1.jpg');
	object-fit: cover;
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat	;
  }
  .pic3:hover  {
	animation-name: example3;
	animation-duration: 5s;
  }
  @keyframes example3 {
	0%   {background-image: url('med1.jfif');}
	100% {background-image: url('med2.jfif');}
  }
  .pic4  {
	display: block;
	width: 100%;
	height: 58%;
	background-image: url('../HTML project/image4.jpg');
	object-fit: cover;
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat	;
  }
  .pic4:hover  {
	animation-name: example4;
	animation-duration: 5s;
  }
  @keyframes example4 {
	0%   {background-image: url('cig1.jfif');}
	100% {background-image: url('cig2.jfif');}
  }
  .pic5  {
	display: block;
	width: 100%;
	height: 58%;
	background-image: url('../HTML project/hotel5.jpg');
	object-fit: cover;
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat	;
  }
  .pic5:hover  {
	animation-name: example5;
	animation-duration: 5s;
  }
  @keyframes example5 {
	0%   {background-image: url('pal1.jfif');}
	100% {background-image: url('pal2.jfif');}
  }
  .pic6  {
	display: block;
	width: 100%;
	height: 58%;
	background-image: url('../HTML project/mour3.jfif');
	object-fit: cover;
	background-size: cover;
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat	;
  }
  .pic6:hover  {
	animation-name: example6;
	animation-duration: 5s;
  }
  @keyframes example6 {
	0%   {background-image: url('mour2.jfif');}
	100% {background-image: url('mour3.jfif');}
  }
  
  
  .recent-work p {
	color: black;
	display: inline;
  }
  
  .desc {
	margin-left: 30px;
  }
  .recent-work h1 {
	margin: 0;
	margin-bottom: 20px;
	color: black;
  }
  

  ul.a {
	list-style-type: square;
	background-color: rgb(255, 255, 255)
	;
}
 










* {
	box-sizing: border-box;
  }
  
  body {
	font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
	float: left;
	width: 30%;
	padding: 0 15px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
	content: "";
	display: table;
	clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
	.column {
	  width: 100%;
	  display: block;
	  margin-bottom: 20px;
	}
  }
  
  /* Style the counter cards */
  .card {
	width: 380px;
	height: 500px;
	margin-top: 10px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	padding: 16px;
	text-align: center;
	background-color: #f1f1f1;
  }

  .center {

	transform: translate(4% , 1%);
  
  }